<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<title>숙소 확인</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>

<!--  날짜 선택하지 않았을 떄 확인 촉구 메시지 -->
<script>
/* $(function(){
	$('#roomSearch').click(function(){
		if($("#roomList").css("display") == "none") {
			$('#roomList').show();
		} 
	});	
});  */
$(document).ready(function() {	
	$("#roomCount").on("change", function(){
		var result = $("#roomCount option:selected").val();
	});
	$("#chkInDate").on("change", function(){
		var chkInDate = $("#chkInDate").val();
	});
	$("chkOutDate").on("change", function(){
		var chkOutDate=$("#chkOutDate").val();
	});
	//var result = $("#roomCount option:selected").val();
	//var chkInDate = $("#chkInDate").val();
	//var chkOutDate=$("#chkOutDate").val();
	$("#roomSearch").on('click', function() {
		var result = $("#roomCount option:selected").val();
		var chkInDate = $("#chkInDate").val();
		var chkOutDate=$("#chkOutDate").val();
		
		if(result=="인원 :"&&chkInDate!=""&&chkOutDate!=""){
			dateOnly(chkInDate, chkOutDate);
		}else if(chkInDate==""&&chkOutDate==""&&result!="인원 :"){
			roomCountOnly(result);
		}else if(chkInDate!=""&&chkOutDate!=""&&result!="인원 :"){
			everyCount(result, chkInDate, chkOutDate);
		}else if(chkInDate==""&&chkOutDate==""&&result=="인원 :"){
			alert("날짜 또는 몇 인실을 사용할지 선택해 주세요");
		}
		else{
			alert("에러");
		}
		
	});
});
function validateForm(chkIn,chkOut) {
	  //var chkIn = document.forms["frm"]["chkInDate"].value;
	  //var chkOut = document.forms["frm"]["chkOutDate"].value;
	  if (chkIn == "" || chkIn == null || chkOut == "" || chkOut == null) {
	    alert("날짜를 선택해주세요");
	    return false;
	  }
	}
function everyCount(result, chkInDate, chkOutDate){
	var lodgeName =$("#input1").val();
	var datas = {
			roomCount : result,
			chkInDate : chkInDate,
			chkOutDate : chkOutDate,
			lodgeName : lodgeName
			
	};
	

	$.ajax({
		url: "/ajax/roomList/everyCount",
		type : "post",
		data : datas,
		success: function(data) {										
			const bookList = $(".roomList");
			
			bookList.empty();
			
			for (var i = 0; i < data.length; i++) {
				var str ='<form id="formList" class="formList">'; 
				str+='<div class="row p-3" id="book2">';
				str += '<div class="row">';
				str += '<div class="col-4">';
				str += '<img src=' + data[i].roomImg + ' </img>';		              
				str += '</div>';
				str += '<div class="col-8">';
				str += '<h4>' + data[i].roomName +'</h4>';
				str += '<div class="row">';
				str += '<div class="col">';    
				str += '<h4>' + data[i].roomType +'</h4>';
				str += '</div>';
				str += '<div class="col">';    
				str += '<h4>' + data[i].roomCount + '명' +'</h4>';
				str += '</div></div>';
				str += '<div class="row">';
				str += '<div class="col">';    
				str += '<h4>' + data[i].roomPrice + '원' +'</h4>';
				str += '</div>';
				str += '<div class="col">';  
				str += '<button type="submit" id="btn-books" class="btn btn-primary">예약하기</button>';  
				str += '</div></div></div></div></div></form>';
				
				bookList.append(str);
	               
			}
			
		}, error: function(request, status, error) {
				alert(request.responseText + "\nerror:"
						+ error);
				
		}
	}); 
}
function dateOnly(chkInDate, chkOutDate){
	var lodgeName =$("#input1").val();
	var datas = {
			chkInDate : chkInDate,
			chkOutDate : chkOutDate,
			lodgeName : lodgeName
			
	};
	

	$.ajax({
		url: "/ajax/roomList/dateOnly",
		type : "post",
		data : datas,
		success: function(data) {										
			const bookList = $(".roomList");
			
			bookList.empty();
			
			for (var i = 0; i < data.length; i++) {
				var str ='<form id="formList" class="formList">'; 
				str+='<div class="row p-3" id="book2">';
				str += '<div class="row">';
				str += '<div class="col-4">';
				str += '<img src=' + data[i].roomImg + ' </img>';		              
				str += '</div>';
				str += '<div class="col-8">';
				str += '<h4>' + data[i].roomName +'</h4>';
				str += '<div class="row">';
				str += '<div class="col">';    
				str += '<h4>' + data[i].roomType +'</h4>';
				str += '</div>';
				str += '<div class="col">';    
				str += '<h4>' + data[i].roomCount + '명' +'</h4>';
				str += '</div></div>';
				str += '<div class="row">';
				str += '<div class="col">';    
				str += '<h4>' + data[i].roomPrice + '원' +'</h4>';
				str += '</div>';
				str += '<div class="col">';  
				str += '<button type="submit" id="btn-books" class="btn btn-primary">예약하기</button>';  
				str += '</div></div></div></div></div></form>';
				
				bookList.append(str);
	               
			}
			
		}, error: function(request, status, error) {
				alert(request.responseText + "\nerror:"
						+ error);
				
		}
	}); 
}
function roomCountOnly(result){
	

	/* if($("#roomList").css("display") == "none") {
		$('#roomList').show();
	} else 
		$('#roomList').hide(); */
		

//		const URL = "/ajax/roomList?roomCount="+ $('select').val();
	
	var lodgeName =$("#input1").val();
	var datas = {
			roomCount : result,
			lodgeName : lodgeName
			
	};
	

	$.ajax({
		url: "/ajax/roomList",
		type : "post",
		data : datas,
		success: function(data) {										
			const bookList = $(".roomList");
			
			bookList.empty();
			
			for (var i = 0; i < data.length; i++) {
				var str ='<form id="formList" class="formList">'; 
				str+='<div class="row p-3" id="book2">';
				str += '<div class="row">';
				str += '<div class="col-4">';
				str += '<img src=' + data[i].roomImg + ' </img>';		              
				str += '</div>';
				str += '<div class="col-8">';
				str += '<h4>' + data[i].roomName +'</h4>';
				str += '<div class="row">';
				str += '<div class="col">';    
				str += '<h4>' + data[i].roomType +'</h4>';
				str += '</div>';
				str += '<div class="col">';    
				str += '<h4>' + data[i].roomCount + '명' +'</h4>';
				str += '</div></div>';
				str += '<div class="row">';
				str += '<div class="col">';    
				str += '<h4>' + data[i].roomPrice + '원' +'</h4>';
				str += '</div>';
				str += '<div class="col">';  
				str += '<button type="submit" id="btn-books" class="btn btn-primary">예약하기</button>';  
				str += '</div></div></div></div></div></form>';
				
				bookList.append(str);
	               
			}
			
		}, error: function(request, status, error) {
				alert(request.responseText + "\nerror:"
						+ error);
				
		}
	}); 
}


</script>

<style>

#lodgeImg {
    display: flex;
    justify-content: center;
    margin:20px;
}
#book {
	border: 2px solid skyblue;
	border-radius: 30px;
	vertical-align: middle;
	text-align: center;
	margin:20px;
}
/* #roomList{
	display:none;
} */
#book2 {
	border: 2px solid skyblue;
	border-radius: 30px;
	vertical-align: middle;
	text-align: left;
	margin:20px;
}

</style>

<style>
*{  margin: 0; padding: 0; }
ul{list-style: none;}
.accordion-box{
  width: 100%; max-width: 600px;
  margin:  0 auto;
}
p.title{
  width: 100%;  
  line-height: 60px; 
  background: #6495ED;; 
  color: #E8F5FF; 
  box-sizing: border-box;
  padding: 0 10px;
}
.con{
  padding: 20px; 
  display:none;
}
</style>

</head>
<body>
	<header>
		<div id="header" th:include="layout/header :: header"></div>

		<div class="container mt-4">
			<h3
				class="p-1 text-center border bg-primary bg-opacity-25 text-white">숙소
				예약 화면</h3>
		</div>
	</header>
<main>
	<div class="container">
		<!-- <form id="frm" action="/lodge/lodgeBook3" method="POST" onsubmit="return validateForm()"> -->
			<div class="row m-3">
				<div class="row" >
					<div class="col-4">
						<span for="" class="col-form-label">입실 : </span> 
						<input type="date" class="form-control" id="chkInDate" name="chkInDate"/> 
					</div>
					<div class="col-4">
						<span for="" class="col-form-label">퇴실 : </span>
						<input type="date" class="form-control" id="chkOutDate" name="chkOutDate"/>
					</div>
					<div class="col-2">
						<span for="" class="col-form-label">인원 : </span>
						<select id="roomCount">
							<option value="인원 :">인실</option>
							<option value="1">1인</option>
							<option value="3">3인</option>
							<option value="5">5인</option>
							<option value="9">9인</option>
						</select>
					</div>					
					<div class="col-2">
						<form name="formSearch" method="get" action="#">
							<input type="button" id="roomSearch" name="roomSearch" class="btn btn-primary" value="선택">
						</form>
					</div>				
				</div>
		<!-- 유저 이메일 -->
				<div style="display:none">
					<input th:value="${session.email}" type="text" class="form-control" id="userEmail" name="userEmail">
				</div>
			</div>	
			
		<!-- 숙소 선택 lodgeName과 일치하는 숙소 이미지 가져오기 -->
			<!-- <div th:if="${#lists.size(roomList)} > 0 and ${#lists.lodgeName.equals(${session.pName})}" th:each="list : ${roomList}"> -->
			
			<!-- 숙소 이름에 맞는 이미지 출력 -->
			<div id="lodgeImg">				
				<img th:src="@{${imgUrl}}">
			</div> 
			
 			<!-- <div th:each="list : ${roomList}"> 
				<div th:if="${list.lodgeName} == ${session.pName}">
					<div th:with="imgYes = 'Yes'">						
					</div>					
				</div>	
				<div th:if="${imgYes} == Yes">
					<img th:src="@{${list.lodgeImg}}">
				</div>	
			</div>  -->
			
		<!-- 	<div th:each="room : ${roomList}" th:object="${roomList}" th:if="${room.lodgeName} == ${session.pName}">
				<img th:src="@{${room.lodgeImg}}">					
			</div> -->	
			
			
			<!-- <div th:text="${#lists.contains(roomList, '${session.pName}')}">
				<img th:src="@{${roomList.lodgeImg}}">
			</div> -->	
				
			
		<!-- 	<div th:if="${#lists.lodgeName == ${session.pName})}">
				<img th:src="@{${list.lodgeImg}}">
			</div> -->
			
			<!-- 숙소 정보 출력 -->
			<div class="row p-3" id="book">
				<div class="row">
					<div class="col-10">
						<label for="" class="col-form-label">숙소 이름 : </label> 
						<input type="text" class="form-control" id="input1" name="lodgeName" />
					</div>
					<div class="col-2" th:each="room : ${roomList}" th:object="${roomList}" th:if="${room.lodgeName} == ${session.pName}">
						<label for="" class="col-form-label">평점 : </label> 
						<p th:text="${room.lodgeScore} + ' / 5.0'"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-8">
						<label for="" class="col-form-label">주소 : </label> 
			<input type="text" class="form-control" id="input2" name="lodgeAddressName" />
					</div>
					<div class="col-4">
						<label for="" class="col-form-label">전화 번호 : </label> 
			<input type="text" class="form-control" id="input3" name="lodgePhone" />
					</div>
				</div>
			</div>
			
			<!-- 객실 내용 출력 -->
			<div id="roomList" class="roomList">
				<form id="formList" class="formList">
					<div class="row p-3" id="book2" th:if="${#lists.size(roomList)} > 0" th:each="list : ${roomList}">		
						<div class="row">
							<div class="col-4">
								<img th:src="@{${list.roomImg}}">
							</div>
							<div class="col-8">
								<h2 th:text="${list.roomName}"></h2>
								<div class="row">
									<div class="col">
										<h4 th:text="${list.roomType}"></h4>
									</div>
									<div class="col">
										<h4 th:text="${list.roomCount} + '명'"></h4>
									</div>							
								</div>
								<div class="row">
									<div class="col">
										<h4 th:text="${list.roomPrice} + '원'"></h4>
									</div>
									<div class="col">
										<button type="submit" id="btn-books" class="btn btn-primary">예약하기</button>
									</div>
								</div>
							</div>									
						</div>
					</div>
				</form>
				
			</div>
		<!-- </form> -->
	</div>

</main>
<script>
	const urlParams = new URL(location.href).searchParams;

	TextInput();

	function TextInput() {
		
		let inputVal1 = urlParams.get('pName');
		document.querySelector('input[name="lodgeName"]').value = inputVal1;
		
		let inputVal2 = urlParams.get('aName');
		document.querySelector('input[name="lodgeAddressName"]').value = inputVal2;
		
		let inputVal3 = urlParams.get('phone');
		document.querySelector('input[name="lodgePhone"]').value = inputVal3;

				
		console.log(inputVal);
	}
</script>
</body>
<footer>
	<div th:replace="layout/footer :: footer"></div>
</footer>
</html>
