<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="EUC-KR">
<title>제휴 숙소 목록</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
	
	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Hi+Melody&display=swap" rel="stylesheet">	
<style>
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.swiper-container {
	height:400px;
	/* border:5px solid silver;
	border-radius:7px; */

}
.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
	max-width:100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
	/* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
}

.card {
	border-radius:30px;
	width:350px;
    height:350px;
    overflow:hidden;
    margin:0 auto;
}

#lodegImg{
	width:100%;
    height:100%;
    object-fit:cover;
    border-radius:30px;
}
/*.title{
border-top:5px double;
border-bottom:5px double;
border-color: #E8F5FF;
text-align:center;
font-size:40px;
color: #6495ED;
padding:20px;
}*/
.title{
	margin-bottom: 50px;
	font-family: 'Hi Melody', cursive;
}
.mainTitle{
margin-bottom: 100px;
font-family: 'GmarketSansBold';
color:white;
background-color:black;
font-size:30px;
width:1300px;
height:70px;
display:flex;
align-items:center;
padding-top:15px;
justify-content:center;
}

</style>

</head>
<body>
	<header>
		<div id="header" th:include="layout/header :: header"></div>
	</header>
	
	<main style="margin-top: 30px;">
		<div class="text-center mainTitle mx-auto d-flex justify-content-center">
			<h1>제휴 숙소 목록</h1>
		</div>
		<div class="container">
<!-- 감천 -->
			<div class="title">
				<h1 class="font-weight-light mx-5 mb-3">감천 || Gamcheon</h1>
				<h5 class="font-weight-light mx-5 mb-3">관광 명소로'마을미술 프로젝트'의 감천문화마을이 유명한 감천</h5>
			</div>
			
			<div class="swiper-container" style="margin-bottom: 100px;">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="list : ${lodgeList}" th:if="${list.placeName} == '감천'" >
						<div class="card" id="lodgeCard">
							<div class="cardImg">
								<a href="/lodge/lodgeListBook/" th:attrappend="href=${list.seq}">
									<img th:src="@{${list.lodgeImg}}" id="lodegImg" class="card-img-top" alt="...">
								</a>
							</div>
							<div class="card-body">
								<h2 class="card-text" th:text="${list.lodgeName}"></h2>
								<p class="card-text" th:text="${list.lodgeAddressName}"></p>
								<p class="card-text" th:text="${list.lodgePhone}"></p>
							</div>
						</div>
					</div>
				</div>
			
				<!-- 네비게이션 -->
				<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
				<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
			
			</div>
			
<!-- 남포동 -->
			<div class="title">
				<h1 class="font-weight-light mx-5 mb-3">남포동 || Nampo-dong</h1>
				<h5 class="font-weight-light mx-5 mb-3">근대 부산의 발상지로서 구시가지의 모습과 분위기가 잘 보존되어 있는 남포동</h5>
			</div>
			
			<div class="swiper-container" style="margin-bottom: 100px;">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="list : ${lodgeList}" th:if="${list.placeName} == '남포동'" >
						<div class="card" id="lodgeCard">
							<div class="cardImg">
								<a href="/lodge/lodgeListBook/" th:attrappend="href=${list.seq}">
									<img th:src="@{${list.lodgeImg}}" id="lodegImg" class="card-img-top" alt="...">
								</a>
							</div>
							<div class="card-body">
								<h2 class="card-text" th:text="${list.lodgeName}"></h2>
								<p class="card-text" th:text="${list.lodgeAddressName}"></p>
								<p class="card-text" th:text="${list.lodgePhone}"></p>
							</div>
						</div>
					</div>
				</div>
			
				<!-- 네비게이션 -->
				<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
				<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
			
			</div>
			
<!-- 서면 -->
			<div class="title">
				<h1 class="font-weight-light mx-5 mb-3">서면 || Seomyeon</h1>
				<h5 class="font-weight-light mx-5 mb-3">각종 상업시설과 금융기관, 의료기관, 교육기관 등이 밀집해 있는 부산광역시 최대의 번화가 서면</h5>
			</div>
			
			<div class="swiper-container" style="margin-bottom: 100px;">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="list : ${lodgeList}" th:if="${list.placeName} == '서면'" >
						<div class="card" id="lodgeCard">
							<div class="cardImg">
								<a href="/lodge/lodgeListBook/" th:attrappend="href=${list.seq}">
									<img th:src="@{${list.lodgeImg}}" id="lodegImg" class="card-img-top" alt="...">
								</a>
							</div>
							<div class="card-body">
								<h2 class="card-text" th:text="${list.lodgeName}"></h2>
								<p class="card-text" th:text="${list.lodgeAddressName}"></p>
								<p class="card-text" th:text="${list.lodgePhone}"></p>
							</div>
						</div>
					</div>
				</div>
			
				<!-- 네비게이션 -->
				<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
				<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
			
			</div>
			
<!-- 송도 -->
			<div class="title">
				<h1 class="font-weight-light mx-5 mb-3">송도 || Songdo</h1>
				<h5 class="font-weight-light mx-5 mb-3">바다와 송림이 아름다운 어촌마을로 해수욕장과 해변공원이 유명한 송도</h5>
			</div>
			
			<div class="swiper-container" style="margin-bottom: 100px;">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="list : ${lodgeList}" th:if="${list.placeName} == '송도'" >
						<div class="card" id="lodgeCard">
							<div class="cardImg">
								<a href="/lodge/lodgeListBook/" th:attrappend="href=${list.seq}">
									<img th:src="@{${list.lodgeImg}}" id="lodegImg" class="card-img-top" alt="...">
								</a>
							</div>
							<div class="card-body">
								<h2 class="card-text" th:text="${list.lodgeName}"></h2>
								<p class="card-text" th:text="${list.lodgeAddressName}"></p>
								<p class="card-text" th:text="${list.lodgePhone}"></p>
							</div>
						</div>
					</div>
				</div>
			
				<!-- 네비게이션 -->
				<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
				<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
			
			</div>
			
<!-- 수영 -->
			<div class="title">
				<h1 class="font-weight-light mx-5 mb-3">수영 || Suyeong</h1>
				<h5 class="font-weight-light mx-5 mb-3">환상적인 해안선과 광안대교의 야경이 아름다운 수영</h5>
			</div>
			
			<div class="swiper-container" style="margin-bottom: 100px;">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="list : ${lodgeList}" th:if="${list.placeName} == '수영'" >
						<div class="card" id="lodgeCard">
							<div class="cardImg">
								<a href="/lodge/lodgeListBook/" th:attrappend="href=${list.seq}">
									<img th:src="@{${list.lodgeImg}}" id="lodegImg" class="card-img-top" alt="...">
								</a>
							</div>
							<div class="card-body">
								<h2 class="card-text" th:text="${list.lodgeName}"></h2>
								<p class="card-text" th:text="${list.lodgeAddressName}"></p>
								<p class="card-text" th:text="${list.lodgePhone}"></p>
							</div>
						</div>
					</div>
				</div>
			
				<!-- 네비게이션 -->
				<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
				<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
			
			</div>
			
<!-- 영도 -->
			<div class="title">
				<h1 class="font-weight-light mx-5 mb-3">영도 || Yeongdo</h1>
				<h5 class="font-weight-light mx-5 mb-3">섬이라는 독특한 지형과 분위기가 매력적인 영도</h5>
			</div>
			
			<div class="swiper-container" style="margin-bottom: 100px;">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="list : ${lodgeList}" th:if="${list.placeName} == '영도'" >
						<div class="card" id="lodgeCard">
							<div class="cardImg">
								<a href="/lodge/lodgeListBook/" th:attrappend="href=${list.seq}">
									<img th:src="@{${list.lodgeImg}}" id="lodegImg" class="card-img-top" alt="...">
								</a>
							</div>
							<div class="card-body">
								<h2 class="card-text" th:text="${list.lodgeName}"></h2>
								<p class="card-text" th:text="${list.lodgeAddressName}"></p>
								<p class="card-text" th:text="${list.lodgePhone}"></p>
							</div>
						</div>
					</div>
				</div>
			
				<!-- 네비게이션 -->
				<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
				<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
			
			</div>
			
<!-- 용호동 -->
			<div class="title">
				<h1 class="font-weight-light mx-5 mb-3">용호동 || Yongho-dong</h1>
				<h5 class="font-weight-light mx-5 mb-3">부산의 랜드마크 중 하나인 이기대나 오륙도같은 유명 관광지가 위치한 용호동</h5>
			</div>
			
			<div class="swiper-container" style="margin-bottom: 100px;">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="list : ${lodgeList}" th:if="${list.placeName} == '용호동'" >
						<div class="card" id="lodgeCard">
							<div class="cardImg">
								<a href="/lodge/lodgeListBook/" th:attrappend="href=${list.seq}">
									<img th:src="@{${list.lodgeImg}}" id="lodegImg" class="card-img-top" alt="...">
								</a>
							</div>
							<div class="card-body">
								<h2 class="card-text" th:text="${list.lodgeName}"></h2>
								<p class="card-text" th:text="${list.lodgeAddressName}"></p>
								<p class="card-text" th:text="${list.lodgePhone}"></p>
							</div>
						</div>
					</div>
				</div>
			
				<!-- 네비게이션 -->
				<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
				<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
			
			</div>
			
<!-- 중구 -->
			<div class="title">
				<h1 class="font-weight-light mx-5 mb-3">중구 || Jung-gu</h1>
				<h5 class="font-weight-light mx-5 mb-3">지역적 특성을 살려 관광명소로 발전을 거듭해오고 있는 근현대 부산의 변천사를 볼 수 있는 중구</h5>
			</div>
			
			<div class="swiper-container" style="margin-bottom: 100px;">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="list : ${lodgeList}" th:if="${list.placeName} == '중구'" >
						<div class="card" id="lodgeCard">
							<div class="cardImg">
								<a href="/lodge/lodgeListBook/" th:attrappend="href=${list.seq}">
									<img th:src="@{${list.lodgeImg}}" id="lodegImg" class="card-img-top" alt="...">
								</a>
							</div>
							<div class="card-body">
								<h2 class="card-text" th:text="${list.lodgeName}"></h2>
								<p class="card-text" th:text="${list.lodgeAddressName}"></p>
								<p class="card-text" th:text="${list.lodgePhone}"></p>
							</div>
						</div>
					</div>
				</div>
			
				<!-- 네비게이션 -->
				<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
				<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
			
			</div>
			
<!-- 진구 -->
			<div class="title">
				<h1 class="font-weight-light mx-5 mb-3">부산진구 || Busanjin-gu</h1>
				<h5 class="font-weight-light mx-5 mb-3">현대 부산의 지리적, 문화적 중심지 부산진구</h5>
			</div>
			
			<div class="swiper-container" style="margin-bottom: 100px;">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="list : ${lodgeList}" th:if="${list.placeName} == '진구'" >
						<div class="card" id="lodgeCard">
							<div class="cardImg">
								<a href="/lodge/lodgeListBook/" th:attrappend="href=${list.seq}">
									<img th:src="@{${list.lodgeImg}}" id="lodegImg" class="card-img-top" alt="...">
								</a>
							</div>
							<div class="card-body">
								<h2 class="card-text" th:text="${list.lodgeName}"></h2>
								<p class="card-text" th:text="${list.lodgeAddressName}"></p>
								<p class="card-text" th:text="${list.lodgePhone}"></p>
							</div>
						</div>
					</div>
				</div>
			
				<!-- 네비게이션 -->
				<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
				<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
			
			</div>
			
<!-- 해운대 -->
			<div class="title">
				<h1 class="font-weight-light mx-5 mb-3">해운대 || Heaundae</h1>
				<h5 class="font-weight-light mx-5 mb-3">다채로운 축제와 이벤트가 열리며 각종 문화 시설을 갖춘 해운대</h5>
			</div>
			
			<div class="swiper-container" style="margin-bottom: 100px;">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="list : ${lodgeList}" th:if="${list.placeName} == '해운대'" >
						<div class="card" id="lodgeCard">
							<div class="cardImg">
								<a href="/lodge/lodgeListBook/" th:attrappend="href=${list.seq}">
									<img th:src="@{${list.lodgeImg}}" id="lodegImg" class="card-img-top" alt="...">
								</a>
							</div>
							<div class="card-body">
								<h2 class="card-text" th:text="${list.lodgeName}"></h2>
								<p class="card-text" th:text="${list.lodgeAddressName}"></p>
								<p class="card-text" th:text="${list.lodgePhone}"></p>
							</div>
						</div>
					</div>
				</div>
			
				<!-- 네비게이션 -->
				<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
				<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
			
			</div>
			

	</div>

	<script>
	
	new Swiper('.swiper-container', {

		slidesPerView : 3, // 동시에 보여줄 슬라이드 갯수
		spaceBetween : -30, // 슬라이드간 간격
		slidesPerGroup : 3, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

		// 그룹수가 맞지 않을 경우 빈칸으로 메우기
		// 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
		loopFillGroupWithBlank : true,

		loop : true, // 무한 반복

		pagination : { // 페이징
			el : '.swiper-pagination',
			clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
		},
		navigation : { // 네비게이션
			nextEl : '.swiper-button-next', // 다음 버튼 클래스명
			prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
		},
	});
	
	   
	</script>	
	</main>


		<div th:include="layout/footer :: footer"></div>
	
</body>
</html>























